*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", "Lobster1.4", sans-serif;
	font-size: 16px;	
	margin: 0 auto;
	background-image: url(./../images/strip.png); 
}
.container {	
	//background-image: url(./../images/strip.png); 
}
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.header {
	font-size: 1.0vw;	
}
.img-wrap {
	position: relative;
}
.check {
	position: absolute;
	top: 15%;
	left: 72%;
}
.shop {
	position: absolute;
	top: 10%;
	left: 83%;
}
.head1 {
	position: absolute;
	top: 20%;
	left: 75%;
	width: 100%;		
}
.head1 a{
	text-decoration: none;	
}
.head2 {
	position: absolute;	
	top: 20%;
	left: 86%;
	width: 100%;
	list-style-type: none;
}
.head2 a{
	text-decoration: none;	
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center; 	
}
nav ul li {
	display: inline-block;
	font-size: 1.5vw;
	font-style: italic;	
	font-family: "Lobster1.4";
	src: url(fonts/Lobster/Lobster1.4.OTF);	
}
nav a {
	display: block;
	padding:  8px 11px 8px 11px;	
	text-decoration: none;
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}
nav ul li a:last-of-type {
	//margin-right: 0;
	//padding-right: 0;
}
nav li:hover {
	background-color: #2787af;
	border-radius: 3px;
	transition: all .5s;	
}
.slider {
	margin: 0 auto;	
}
.choco {
	position: relative;
}
.choco2 {
	position: relative;
	z-index: 5;
}
.cakeleft {
	position: absolute;
	top: -5px;
	left: -37px;
	z-index: 0;
}
.cakeright {
	position: absolute;
	top: -5px;
	right: -39px;
	z-index: 0;
}
.lenta {
	position: absolute;
	z-index: 100;
	top: -8px;
	right: -9px;
}
.arrowleft {
	position: absolute;
	top: 68%;
	left: -14px;
	z-index: 20;
}
.arrowright {
	position: absolute;
	top: 68%;
	right: -14px;
	z-index: 20;
}
.popup {
	max-width: 380px;
	position: absolute;
	top: 10%;
	left: 4%;
	color: white;
	background-color: #D4BCA0;
	//padding: 15px;
	opacity: 0.7;
	z-index: 10;
}
.popup p {
	margin: 20px;
	//padding: 1px;
}
#b {
	color: brown;
	font-size: 2em;
	font-style: italic;
	//padding-bottom: 10px: 
	margin: 10px;
	font-family: "Lobster1.4";
}
.but {
	background-color: brown;
	padding: 5px;
	border-radius: 5px;
	float: right;
	margin-right: 10%;
	margin-bottom: 2%;
}
.content1 img {
	margin: 0;
}
.content1 p {
	position: absolute;
	font-family: "Lobster1.4";
	font-size: 1.4vw;
	font-style: italic;
}
.content2>row {
	//background-color: brown;
}
.cont {
	//position: relative;
	display: flex;
	background-color: brown;
	//min-height: 280px;
	height: 400px;
	//height: 100%;
	//margin: 10% auto;
	//flex-grow: 0;
	//text-align: center;
	align-items: center;
	flex-wrap: nowrap;
	//align-content: center;
	//align-self: center;
	justify-content: space-around;
	z-index: 1;
}
.col {
	flex: 0 0 30%;
	align-item: center;
	justify-content: space-around;
}

.dbase {
	position: absolute;
	top: 0;
	z-index: 0;
}
.deliciousness {
	position: absolute;
	//top: -5px;
	z-index: 7;
}
#txt {
	position: absolute;
	width: 78%;
	margin: 23% 0 0 30px;	
	z-index: 8;
	font-size: 1.0vw;
	line-height: 1.5
}
#txta {
	position: absolute;
	width: 85%;
	margin-top: 62%;
	left: 10%;
	font-size: 1.0vw;
	font-style: italic;
}
.col1 {
	position: relative;
	//top: 21%;
	//left: 5%;
	//width: 200px;
	//align-item: center;
	//background-color: brown;
	//margin: 5% auto;
	//padding: 5% ;
	flex:0 0 30%;
	//flex-direction: column;
	display: inline-block;
	//vertical-align: middle;
    height: 50%;
    //max-height: 200px;
}
.col2 {
	position: relative;
	//top: 16%;
	//left: 37%;
	//width: 30%;
	//margin: 2% auto;
	flex:0 0 30%;
	display: inline-block;
	height: 50%;
	//max-height: 200px;
}
.getbase {
	position: absolute;
	//top: 17px;
}
.getitfresh {
	position: absolute;
	top: -7px;
	z-index: 7;
}
#txt2 {
	position: absolute;
	width: 78%;
	margin: 22% 0 0 30px;	
	z-index: 8;
	font-size: 1.0vw;
	line-height: 1.5
}
#txtb {
	position: absolute;
	width: 85%;
	margin-top: 62%;
	left: 10%;
	font-size: 1.0vw;
	font-style: italic;
}
.col3 {
	position: relative;
	//top: 15%;
	//left: 68%;
	//width: 30%;
	//margin: 2% auto;
	flex:0 0 30%;
	display: inline-block;
	height: 50%;
	//max-height: 200px;
}
.flabase {
	position: absolute;
	//top: 20px;
}
.flavoric {
	position: absolute;
	//top: 4px;
	z-index: 7;
}
#txt3 {
	position: absolute;
	width: 78%;
	margin: 25% 0 0 30px;	
	z-index: 8;
	font-size: 1.0vw;
	line-height: 1.5em;
}
#txtc {
	position: absolute;
	width: 85%;
	margin-top: 62%;
	left: 10%;
	font-size: 1.0vw;
	font-style: italic;
}
nav2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}
nav2 li {
	display: inline-block;
	font-size: 1.0vw;
	font-style: italic;		
}
nav2 a {
	display: block;
	text-decoration: none;
	padding:  1px 3px 1px 3px;
}
nav2 li:hover {
	background-color: #2787af;
	border-radius: 3px;
	transition: all .5s;	
}
.foot {
	position: relative;
}
.foot>div {
	position: absolute;
}
.menu2 {	
	top: 10%;
	left: 62%;
}
.year {
	font-size: 1.0vw;	
	top: 35%;
	left: 6%;
}

/* xs (<=543px) */
@media (max-width: 575px) { 
	
  .head1 {
  	font-size: 1.2em;
  }
  .head2 {
  	font-size: 1.2em;
  }
  .check {
  	display: none;
  }
  .shop {
  	display: none;
  }
  nav li a{
  	font-size: 1.4em;
  }
  .popup {
  	font-size: 0.8em;
  }
  .content1 p {
  	font-size: 0.8em;
  }
  .logo {
  	display: none;  	
  }
  .cont {
  	height: 200px;
  }
  .col1 {	
	//top: 20%;
	//left: 1%;	
  }
  .col2 {	
	//top: 10%;
	//left: 34%;	
  }
  .col3 {	
	//top: 8%;
	//left: 66%;	
  }  
  .getitfresh {	
	//top: 10px;
	}
	.flavoric {	
	//top: 16px;	
  }
  #txt {
  	font-size: 0.7em;
  	line-height: 2.0vw;
  	//left: 2%;
  }
  #txta {  	
  	font-size: 0.5em;  	
  }
  #txt2 {
  	font-size: 0.6em;
  	line-height: 2.0vw;
  	//left: 1%;
  	//top: 9px;
  }
  #txtb {  	
  	font-size: 0.5em;
  	//left: 20%;
  	//top: 7px;  	
  }  
  #txt3 {
	//left: 1%;
	//top: 10px;
	font-size: 0.6em;
	line-height: 2.0vw;
  }
  #txtc {
  	//top: 8px;

  }
  .menu2 {	
	top: -5px;	
	}
  nav2 li {	
	font-size: 1.0vw;
  }
  .year {
	font-size: 1.0vw;
  }
}
 
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) { 
	.check {	
	top: 15%;
	left: 70%;
}
.shop {	
	top: 8%;
	left: 81%;
}
nav li a{
  	font-size: 1.0em;
  	padding:  7px 8px 7px 8px;
  }
  .popup {
  	font-size: 0.8em;
  }
  .content1 p {
  	font-size: 0.7em;
  }
	.menu2 {	
	  top: -5px;
	  left: 50%;	
	}
	.cont {
  	height: 300px;
  }
  .col1 {	
	//top: 20%;
	//left: 3%;	
  }
  .col2 {	
	//top: 10%;
	//left: 36%;	
  }
  .col3 {	
	//top: 8%;
	//left: 67%;	
  }
  .getitfresh {	
	//top: 10px;
	}
  .flavoric {	
	//top: 16px;	
  }
  #txt {
  	font-size: 0.5em;
  	line-height: 1.6vw;
  	//left: 0%;
  	//top: -2px;
  }
  #txta {  	
  	font-size: 0.5em;
  	//top: 1px;
  	//left: 20%;  	
  }
  #txt2 {
  	font-size: 0.5em;
  	line-height: 1.6vw;
  	//left: 0%;
  	//top: 9px;
  }
  #txtb {  	
  	font-size: 0.5em;
  	//left: 20%;
  	//top: 12px;  	
  }  
  #txt3 {
	//left: 0%;
	//top: 10px;
	font-size: 0.5em;
	line-height: 1.6vw;
  }
  #txtc {
  	//top: 12px;
  	//left: 21%;
  }  
}
 
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) { 
	.head1 {	
	left: 76%;		
  }
	.head2 {	
	left: 87%;	
  }
nav li a{
  	font-size: 1.1em;
  	padding:  7px 8px 7px 8px;
  }
.content1 p {
  	font-size: 0.8em;
  }
  .col1 {	
	//top: 22%;
	//left: 4%;	
  }
  .col2 {	
	//top: 15%;
	//left: 35%;	
  }
  .col3 {	
	//top: 13%;
	//left: 66%;	
  }
  .getitfresh {	
	//top: 9px;
	}
  #txt {
  	font-size: 0.6em;
  	line-height: 2.0vw;
  	//left: 2%;
  	//top: -2px;
  }
  #txta {  	
  	font-size: 0.5em;
  	//top: 1px;
  	//left: 20%;  	
  }
  #txt2 {
  	font-size: 0.6em;
  	line-height: 2.0vw;
  	//left: 1%;
  	//top: 9px;
  }
  #txtb {  	
  	font-size: 0.5em;
  	//left: 20%;
  	//top: 12px;  	
  }  
  #txt3 {
	//left: 1%;
	//top: 10px;
	font-size: 0.6em;
	line-height: 2.0vw;
  }
  #txtc {
  	//top: 8px;
  	//left: 21%;
  } 
  .menu2 {	
	 top: -1px;
	 left: 52%;	
	} 
}
 
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) { 
	
  .head1 {	
	left: 75%;
	font-size: 1.2em;		
  }
	.head2 {	
	left: 87%;
	font-size: 1.2em;	
  }
  nav li a{
  	font-size: 1.2em;
  	padding:  8px 9px 8px 9px;
  }
  .content1 p {
  	font-size: 1.1em;
  }
  .col1 {	
	//top: 22%;
	}
  #txt {
  	font-size: 0.7em;
  	line-height: 2.0vw;
  	//left: 2%;
  	//top: -2px;
  }
  #txta {  	
  	font-size: 0.6em;
  	//top: 1px;
  	//left: 20%;  	
  }
  #txt2 {
  	font-size: 0.7em;
  	line-height: 2.0vw;
  	//left: 1%;
  	//top: 9px;
  }
  #txtb {  	
  	font-size: 0.6em;
  	//left: 20%;
  	//top: 12px;  	
  }  
  #txt3 {
	//left: 1%;
	//top: 10px;
	font-size: 0.7em;
	line-height: 2.0vw;
  }
  #txtc {
  	font-size: 0.6em;
  	//top: 8px;
  	//left: 21%;
  }
  nav2 li {	
	font-size: 1.1vw;
  }
  .year {
	font-size: 1.1vw;
  } 
}
 
/* xl (>=1200) */
@media (min-width: 1200px) { ... }